<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 先引入vue，再引入element -->
    <script src="__STATIC__\vue\vue.js"></script>
    <link rel="stylesheet" href="__STATIC__\element\css\index.css">
    <script src="__STATIC__\element\js\index.js"></script>
    <script src="__STATIC__\axios\axios.min.js"></script>
    <script src="__STATIC__\wangEditor\wangEditor.js"></script>
</head>

<body>
    <div id="app" style="margin:20px;">
        <el-card>
            <h1>关于页设置</h1>
            <div id="div1" style="margin-bottom: 20px;">{$blog_page["text"]|raw}</div>
            <br>
            <el-button type="primary" @click="alerts()" plain>修改内容</el-button>
        </el-card>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                from:{
                    id:'1',
                    text: '',
                }
            },
            mounted: function () {
                const E = window.wangEditor
                const editor = new E('#div1')
                // 配置 onchange 回调函数，将数据同步到 vue 中
                editor.config.onchange = (newHtml) => {
                    this.editorData = newHtml;
                }
                editor.config.pasteFilterStyle = false
                editor.config.height = 600;
                // 创建编辑器
                editor.create()
                this.editor = editor
            },
            methods: {
                alerts: function () {

                    this.from.text = this.editor.txt.html();
                    var thiss = this;
                    axios.post('/admin/set/aboutSet', thiss.from).then(
                        function (response) {
                            if (response.data.code == 0) {
                                thiss.$message({
                                    showClose: true,
                                    message: '修改成功',
                                    type: 'success'
                                });
                            } else if (response.data.code == 1) {
                                console.log(response.data);
                            }
                        })
                }
            }
        })
    </script>
</body>

</html>