<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 先引入vue，再引入element -->
    <script src="__STATIC__\vue\vue.js"></script>
    <link rel="stylesheet" href="__STATIC__\element\css\index.css">
    <script src="__STATIC__\element\js\index.js"></script>
    <script src="__STATIC__\axios\axios.min.js"></script>
</head>

<body>
    <div id="app" style="margin:20px;">
        <el-card>
            <h1>密码修改</h1>
            <el-form :model="ruleForm" status-icon ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="当前用户" prop="user">
                    <el-input type="text" v-model="ruleForm.user" autocomplete="off" :disabled="true"
                        style="width: 400px;"></el-input>
                </el-form-item>
                <el-form-item label="当前密码" prop="oldPassword">
                    <el-input type="text" v-model="ruleForm.oldPassword" maxlength="30" autocomplete="off" style="width: 400px;" show-password>
                    </el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="newPassword">
                    <el-input type="text" v-model="ruleForm.newPassword" maxlength="30" autocomplete="off" style="width: 400px;" show-password>
                    </el-input>
                </el-form-item>
                <el-form-item label="重复密码" prop="newPassword2">
                    <el-input type="text" v-model="ruleForm.newPassword2" maxlength="30" autocomplete="off" style="width: 400px;" show-password>
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="sub">提交</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                ruleForm: {
                    user: '{$user}',
                    oldPassword: '',
                    newPassword: '',
                    newPassword2: ''
                }
            },
            methods: {
                sub: function () {
                    console.log(this.ruleForm);
                    var thiss = this;
                    if (thiss.ruleForm.newPassword == thiss.ruleForm.newPassword2) {
                        axios.post("/admin/user/updatePassword", thiss.ruleForm).then(
                            function (response) {
                                if (response.data.code == 0) {
                                    console.log(response.data);
                                    //消息弹窗
                                    thiss.$message({
                                        showClose: true,
                                        message: '成功！',
                                        type: 'success'
                                    });
                                    //延时执行
                                    thiss.timer = setTimeout(() => {
                                        window.location.reload();
                                    }, 1000);
                                } else if (response.data.code == 1) {
                                    console.log(response.data);
                                    thiss.$message(response.data.message);
                                }
                            })
                    } else {
                        thiss.$message({
                            message: '两次密码不相同',
                            type: 'warning'
                        });
                    }
                }
            }
        })
    </script>
</body>

</html>